@import url('https://fonts.googleapis.com/css?family=Dosis');

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


.menu_wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  text-align: center;
  padding: 20px;
  background-image: url(pandemic-xbox-one-mini.jpg);
}

.title {
  margin: 0px;
  margin-bottom: 10px;
  color: white;
}

.players {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: white;
}

.сomplexity {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: white;
}

.start {
  width: 130px;
  height: 40px;
  margin: 30px auto 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(11, 243, 61);
}

.bg-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url(pandemic-xbox-one.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1b649b;
}

.сomplexity_quantity {
  margin-left: 25px;
}

.players_quantity {
  margin-left: 25px;
}

.game_container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.bg-map {
  width: 100%;
  height: 60vh;
  display: block;
}

.intro {
  width: 100%;
  height: 60vh;
  position: relative;
  display: none;
}

.city_name{
  color: white;
  width: 126px;
  text-align: center;
}

.city_wrap {
  position: absolute;
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fake-city_wrap {
  width: 50px;
  flex-direction: row;
}

.fake-city_w  .city_name{
  margin-left: 10px;
  width: 50px;
}

.city_w{
  display: flex;
}

.city {
  display: flex;
  justify-content: center;
}

.disease-wrap{
  height: 15px;
  display: flex;
  justify-content: center;
}

.city-picture{
  width: 20px;
  height: 20px;
}

.hide {
  display: none;
}

.players-location{
  height: 25px;
  padding: 0px 2px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  overflow: hidden;

  background: #005470;
}

.svg {
  position: absolute;
  z-index: 5;
}

.svg:hover {
  fill: red;
}

/* Header */


.header {
  display: none;
  justify-content: space-between;
  height: 10vh;
  width: 100%;

}

.content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 37.5%;
}


.deck {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 62.5%;
}



.deck__img,
.indicator__img,
.flash__img,
.disease-indicator__img,
.illness__img,
.builds__img {
  display: block;
  width: 100%;
  height: 100%;
}

.counter {
  content: "";
  position: absolute;
  margin: 0 auto;
  bottom: 10%;
  left: 0;
  width: 25px;
  height: 25px;

  border-radius: 50%;
  border: 1px solid #000;
  background: #fff;
}

/* Deck */


.deck__content,
.illnes__block {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.deck__item-card {
  height: 100%;
  width: 100%;

  background-image: url(img/cards/player_deck.png);
  background-repeat: no-repeat;
  background-position: top;
}

.deck__item {
  width: 70px;
  height: 100%;
  border: 8px #000 solid;
  border-radius: 8px;
  background-color: #0327C6;
  margin: 10px 10px;
}

.deck__item-discard,
.illnes__block-discard {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.counter-discard,
.counter__illnes2 {
  display: flex;
  height: 100%;
  justify-content: center;
  font-size: 26px;
  cursor: default;
  align-items: center;
}

.counter-card,
.counter__illnes1 {
  text-align: center;
  font-size: 26px;
  cursor: default;
  padding-top: 45px;
}


/* Indicator */


.indicator__img,
.track__img,
.outbrake__img {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  object-fit: cover;
  z-index: 1;
}

.counter-flash {
  margin-top: 1px;
  cursor: default;
  font-size: 20px;
}

.counter-disease {
  margin-top: 6px;
  cursor: default;
  font-size: 15px;
}

.counter-indicator {
  margin-top: 1px;
  cursor: default;
}

.indicator__content {
  display: flex;
}

.indicator__btn {
  height: 100px;
  width: 100px;
}

/* Flash */

.content__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash-indicator,
.disease-indicator {
  height: 100px;
  width: 100px;
  margin-left: 30px;
}

/* Disease-indicator */

.flash-indicator__item,
.disease-indicator__item {
  width: 100px;
  height: 100px;
}

.track__img,
.outbrake__img {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 100;
}

.counter-place_outbrake {
  content: "";
  position: absolute;
  margin: 0 auto;
  bottom: 20%;
  left: 40%;
  width: 20px;
  height: 20px;

  border-radius: 50%;
  color: inherit;
}

.counter-place_spreeding {
  content: "";
  position: absolute;
  margin: 0 auto;
  bottom: 40%;
  left: 37%;
  width: 25px;
  height: 25px;

  border-radius: 50%;
  color: #fff;
}

/* Illness */

.illnes__block-card {
  height: 100%;
  width: 100%;

  background-image: url(img/cards/disease_deck.png);
  background-repeat: no-repeat;
  background-position: top;
  background-color:#0327C6;
}


.illnes__item {
  width: 70px;
  height: 100%;
  border: 8px #000 solid;
  border-radius: 8px;
  margin: 10px 10px;
}

.illnes__discard {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 70px;
  align-items: center;
  color: #000;
}

.illnes__discard.black__text,
.card__item.black__text {
  color: #fff;
}

/* Log */


.vh-top,
.vh-bottom {
  height: 5vh;
}

.vh-bottom {
  border-bottom: 2px #000 solid;
  border-top: 2px #000 solid;
}




/* Builds */



.builds {
  margin: 0px auto;
  height: 60px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.builds__item {
  margin: 0 10px;
}

.builds__img {
  height: 50px;
  width: 50px;
}

.city_w .builds__img{
  height: 20px;
  width: 20px;
}

.builds__item-1 {
  height: 5vh; 
  width: 50px; 
  margin: 35px 20px 0 0;
  background: #B1BA5C;
  position: relative;
}

.builds__item-1:before {
  content: "";
  height: 0; 
  width: 0;
  position: absolute; 
  left: 0; 
  top: -35px;
  border-bottom: 35px solid #B1BA5C;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

/* Footer */

.footer {
  height: 20vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

.hand {
  width: 25%;
  border: 1px black solid;
}

.handCards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.card__item,
.card__item-special {
  display: flex;
  width: 60px;
  height: 80px;
  margin: 0 10px;
  text-align: justify;
  align-items: center;
  justify-content: center;
  font-size: 16px;

  overflow: hidden;

  border: 1px #000 solid;
  border-radius: 5px;
  cursor: pointer;
  transition: .2s;
  position: relative;
}

.card__item_none,
.illnes__discard {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 70px;
  align-items: center;
  color:  #000;
  font-size: 16px;

  overflow: hidden;
  cursor: pointer;
  transition: .2s;
  position: relative;
}

.card__item:hover:before,
.card__item-special:hover:before,
.card__item_none:hover:before,
.illnes__discard:hover:before {
  content: attr(data-name);
  font-size: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card__item:hover,
.card__item-special:hover,
.card__item_none:hover,
.illnes__discard:hover {
  position: relative;
  z-index: 1000;
}

.card__item:hover span,
.card__item-special:hover span,
.card__item_none:hover span,
.illnes__discard:hover span {
  opacity: 0;
}

.card__item:hover,
.card__item-special:hover {
  transform: scale(2);
  transform-origin: bottom;
}

.card__item_none:hover{
  transform: scale(1.2);
  border-radius: 8px;
  font-size: 20px;
}

.illnes__discard:hover {
  transform: scale(1.4);
  border-radius: 8px;
  font-size: 20px;
}

.top {
  display: flex;
  height: 20px;
}

.role {
  background-color: #fff;
  width: 50%;
  height: auto;
  text-align: start;

  overflow-x: hidden;
}

.turn {
  background-color: green;
  width: 50%;
  height: auto;
  text-align: end;
  
  overflow-x: hidden;
}


/* Tooltip */


[tooltip] {
  position: relative;
}

[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  font-size: .9em;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}

[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1001;
}

[tooltip]::after {
  content: attr(tooltip);
  font-family: Helvetica, sans-serif;
  text-align: center;
  
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: #333;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}

[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

.show {
  display: block;
}

.show_flex {
  display: flex;
}

/* попап для имен игроков */

.popup-players {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #1b649b;
  background-image: url(pandemic-xbox-one.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 0.5s;
  transform: scale(0);
  z-index: 200;
}

.popup-players-active {
  transform: scale(1);
  transition: transform 0.5s;
}

.players-name {
  background-color: #1b649b;
  text-align: center;
  padding: 35px;
}

.popup-text {
  margin-bottom: 10px;
  font-size: 25px;
  color: white;
}

.popup-input {
  margin-bottom: 10px;
  height: 30px;
  font-size: 20px;
}

.popup_button {
  display: block;
  width: 160px;
  height: 50px;
  margin: 10px auto 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(11, 243, 61);
  font-size: 20px;
}

/* Модальные окна */

.modal {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;

  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0, .8);

  top: 0;
  left: 0;
  z-index: 1999;
}

.modal__content {
  display: flex;
  flex-wrap: wrap;

  width: 75%;
  height: 65%;
  max-width: 100%;
  padding: 10px 0;

  top: 12%;
  left: 15%;
  position: absolute;

  background-color: rgb(65, 65, 65);
  border-radius: 5px;

  transform: translateX(-50px);
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}     

.modal__close {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;

  position: absolute;
  top: 12%;
  right: 10%;
  transition: transform 0.2s linear, opacity 0.2s linear;
}

.modal__close:hover {
  transform: rotate(90deg);
}