@import url('https://fonts.googleapis.com/css?family=Dosis');

:root{
  --height: 3em;
  --bgr: rgb(255, 255, 255);
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


.menu_wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  text-align: center;
  padding: 20px;
  background-image: url(pandemic-xbox-one-mini.jpg);
}

.title {
  margin: 0px;
  margin-bottom: 10px;
  color: white;
}

.players {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: white;
}

.сomplexity {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: white;
}

.start {
  width: 130px;
  height: 40px;
  margin: 30px auto 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(11, 243, 61);
}

.bg-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url(pandemic-xbox-one.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1b649b;
}

.сomplexity_quantity {
  margin-left: 25px;
}

.players_quantity {
  margin-left: 25px;
}

.game_container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  overflow: hidden;
}

.bg-map {
  width: 100%;
  height: 60vh;
  display: block;
}

.intro {
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
}

.city_wrap {
  position: absolute;
  z-index: 6;
}

.city {
  width: 100%;
  height: 100%;
  background-color: red;
}

.hide {
  display: none;
}


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  overflow: hidden;
}

.svg {
  position: absolute;
  z-index: 5;
}

.svg:hover {
  fill: red;
}

/* Header */


.header {
  display: none;
  justify-content: space-between;
  height: 10vh;
  width: 100%;

  background-color: rgba(17, 16, 16, 0.678);
}

.content {
  display: flex;
}





.deck__img,
.indicator__img,
.flash__img,
.disease-indicator__img,
.illness__img,
.builds__img {
  display: block;
  max-width: 100%;

  height: auto;
}


.footer {
  background-color: rgba(17, 16, 16, 0.678);
}


/* Deck */


.deck {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.deck__content {
  display: flex;
}



.deck__item {
  display: flex;
}


.deck__card,
.deck__discard,
.illness__card,
.illness__discard {
  display: inline-block;
  position: relative;
}
   

.deck__card:hover::after,
.deck__discard:hover::after,
.illness__card:hover::after,
.illness__discard:hover::after {
  content: attr(data-title);
  position: absolute;
  left: 20%; top: 30%;
  z-index: 1;
  background: rgba(255,255,230,0.9);
  font-family: inherit;
  font-size: 10px;
  padding: 5px 10px;
  border: 1px solid #333;
}


.deck__img,
.illness__img {
  height: 10vh;
  width: 5vw;
}


/* Indicator */

.content__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px;

  border: 1px rgb(185, 19, 19) solid;
}

.indicator__content {
  display: flex;
  margin-left: 250px;
}

.indicator__item {
  margin: 0 10px;
}

.indicator__img {
  width: 50px;
  height: 40px;
}

.indicator__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  color: rgba(228, 209, 209, 0.418);
  background: var(--bgr);
  height: calc(1 * var(--height));
  width: calc(2 * 0.866 * var(--height));
  z-index: 9;
}

.indicator__btn:after, 
.indicator__btn:before {
  content: '';
  position: absolute;
  transition: all ease-in-out 0.35s;
  top: 0px; 
  left: 0px;
  height: calc(1 * var(--height));
  width: calc(2 * 0.866 * var(--height));
  background: var(--bgr);
  opacity: 0;
  z-index: -5;
}

.indicator__btn:hover {
  box-shadow: none;
}

.indicator__btn:after {
  transform: rotate(60deg) translateX(calc(-2 * var(--height)));
}

.indicator__btn:before {
  transform: rotate(-60deg) translateX(calc(2 * var(--height)));
  transition-delay: 0.1s;
}

.indicator__btn:hover:after,
.indicator__btn:hover:before {
  content: '';
  position: absolute;
  top: 0px; left: 0px;
  transition: all ease-in-out .2s;
  height: calc(1 * var(--height));
  width: calc(2 * 0.866 * var(--height));
  background: var(--bgr);
  opacity: 1;
  z-index: -5;
}

.indicator__btn:hover:after {
  transform: rotate(60deg) translateX(0);
  
}

.indicator__btn:hover:before {
  transform:  rotateZ(-60deg) translateX(0px);
  transition-delay: 0.1s;
}

.indicator__btn:active:before,
.indicator__btn:active:after {
  transform: rotateZ(0deg);
}

.indicator__btn:active:before {
  transition-delay: .1s;
}

/* Flash */



.flash-indicator,
.disease-indicator {
  margin: 0 30px;
}


/* a.button1,
a.button2 {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0,0,0,.5);
  user-select: none;
  padding: .7em 1.5em;
  border: 1px solid rgb(80,32,0);
  border-radius: 5px;
  outline: none;
  background: rgb(147,80,36) linear-gradient(rgb(106,58,26), rgb(147,80,36) 80%);
  box-shadow:
   0 6px rgb(86,38,6),
   0 3px 15px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  transition: .2s;
} 
.button1:hover,
.button2:hover {
  background: rgb(167,91,41) linear-gradient(rgb(126,69,31), rgb(167,91,41) 80%);
}
.button1:active,
.button2:active {
  background: rgb(120,63,25) linear-gradient(rgb(120,63,25) 20%, rgb(167,91,41));
  box-shadow:
   0 2px rgb(86,38,6),
   0 1px 6px rgba(0,0,0,.4),
   inset 0 1px rgba(255,255,255,.3),
   inset 0 0 3px rgba(255,255,255,.5);
  -webkit-transform: translate(0, 4px);
  transform: translate(0, 4px);
} */

/* Disease-indicator */



/* Illness */

.illnes__block {
  display: flex;
  margin: 0 20px;
}

/* illness */
/* illness */
/* illness */
/* illness */


/* Log */


.vh-top,
.vh-bottom {
  background-color: rgba(17, 16, 16, 0.678);
  height: 5vh;
}

.builds {
  display: flex;
  justify-content: center;
}


.builds__item {
  margin: 0 10px;
}


.builds__img {
  height: 5vh;
  width: 50px;
}

.builds__item-1 {
  height: 5vh; 
  width: 50px; 
  margin: 35px 20px 0 0;
  background: #B1BA5C;
  position: relative;
}


.builds__item-1:before {
  content: "";
  height: 0; 
  width: 0;
  position: absolute; 
  left: 0; 
  top: -35px;
  border-bottom: 35px solid #B1BA5C;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

/* Footer */

.footer {
  height: 20vh;
  margin-top: auto;
}

.hand {
  display: flex;
  justify-content: center;
}


.hand__item {
  margin-right: 5px;
  margin-left: 5px;
}

.hand__card {
  height: auto;
  cursor: pointer;
  transition: .2s linear;
  border-radius: 5px;
}

.hand__card:hover {
  transform: scale(1.2);
}

.show {
  display: block;
}

.show_flex {
  display: flex;
}