html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.menu_wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  text-align: center;
  padding: 20px;
  background-image: url(pandemic-xbox-one-mini.jpg);
}

.title {
  margin: 0px;
  margin-bottom: 10px;
  color: white;
}

.players {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: white;
}

.сomplexity {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  color: white;
}

.start {
  width: 130px;
  height: 40px;
  margin: 30px auto 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgb(11, 243, 61);
}

.bg-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-image: url(pandemic-xbox-one.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1b649b;
}

.сomplexity_quantity {
  margin-left: 25px;
}

.players_quantity {
  margin-left: 25px;
}

.game_container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  overflow: hidden;
}

.bg-map {
  width: 100%;
  height: 60vh;
}

.intro {
  position: relative;
  display: none;
}

#id0 {
  position: absolute;
  top: 18vh;
  left: 29%;
  width: 20px;
  height: 20px;
  background-color: red;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  overflow: hidden;
}


/* Header */


.header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
}

.deck__img,
.indicator__illness,
.flash__img,
.disease-indicator__img,
.illness__img {

  display: block;
  max-width: 100%;

  height: auto;
}


.footer {
  background-color: blue;
}


/* Deck */

.deck {
  display: flex;
}

.deck__item {
  display: flex;
}


.deck__img,
.illness__img {
  height: 10vh;
  width: 100px;

  cursor: pointer;
}

.deck__img:hover,
.illness__img:hover {
  transform: scale(1.05);
}

/* Indicator */

.indicator {
  display: flex;
}

.indicator__item {
  margin: 0 auto;
  align-items: center;
}

/* Flash */


/* Disease-indicator */


/* Illness */

.illnes {
  display: flex;
}


/* Log */


.log {
  background-color: blueviolet;
  height: 5vh;
}

/* Footer */

.footer {
  height: 20vh;
  margin-top: auto;
}

.hand {
  display: flex;
  justify-content: center;
}


.hand__item {
  margin-right: 5px;
  margin-left: 5px;
}

.hand__card {
  height: auto;
  cursor: pointer;
  transition: .2s linear;
  border-radius: 5px;
}

.hand__card:hover {
  transform: scale(1.2);
}