/* Веталя начал */
body{
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
}


/* Container
**************/

.container{
    width: 100%;
    max-width: 940px;
}



/* Header
**************/


.header{
    padding: 32px 0;



    border-bottom: 1px solid #828282;
}



/* Header
**************/


.nav{
    font-size: 18px;
    line-height: 22px;
    display: flex;
    justify-content: space-between;
}



.nav_link{
    text-decoration: none;
    opacity: .75;
    text-align: center;
    color: #828282;

}


.nav_link:hover{
    opacity: 1;
    color: #070707;
}

.nav_link_home:hover{
     opacity: 1;
}

/* Веталя закончил */
/* Антон начал */

.personal_informaition {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.name{
    font-family: Gilroy-Bold;
    font-size: 47.3392px;
    line-height: 59px;
    font-weight: bold;

    color: #070707;
}

.position{
    padding-top: 54px;

    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;

    color: #070707;
}

.language{
    display: flex;
    align-items: center;
    padding-top: 42px;
    font-family: Gilroy-Bold;
    font-size: 16px;
    line-height: 20px;
    
    color: #828282;
    
    transform: rotate(-90deg)
}


.denis_novic_picture{
    margin-top: 50px;
    justify-content: center;
}

.picture{
    width: 940px;
    height: 387px;
    
}

.cotainer_Denis_Novik{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}


button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

button:hover {
    color: black;

}

button:active, button:focus {
    outline: none;
  }

.slash{
    color: black;
}

/* Вторая часть описание "About me" */

.about_me{
    margin-top: 105px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1445px;
    height: 506px;
    background: #F6F6F6;
}

.about_me_heading{
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    padding-top: 120px;

    color: #070707;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
}

.about_me_biography{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 107px;
    height: 218px;
    width: 485px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;


    color: #070707;
}
 
/* Начало части с програмами */

.skills_heading {
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;

    color: #070707;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    padding-top: 91px;
}

.programs{
    padding-top: 70px;
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #070707;
}

.programs_wrap{
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
    max-width: 884px;
    padding-top: 84px;
    margin-left: auto;
    margin-right: auto;

}

.programs_text{
    font-family: Gilroy-Bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 24px;

    color: #828282;

}

.progrems_icons{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stars_wrap{
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    width: 144px;
}

/* <!-- Конец 3-ей части --> */
/* Конец части про навыки "Skills" */

/* Портфолио старт */

.portfolio{
    display: flex;
    flex-direction: column;
    background-color:#F6F6F6;
    align-items: center;
    padding-bottom: 96px;
}

.portfolio_heading{
    padding-top: 113px;
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;

    color: #070707;
}
/* Levis */

.levis_img{
    width: 936px;
    padding-top: 47px;
}

.link_wrap{
    text-align: center;
    padding-top: 45px;
}

.portfolio_link{
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
}

/* Rebook */

.rebbok_img{
    width: 936.24px;
    padding-top: 99px;
}

/* Broun */

.broun_img{
    width: 936.24px;
    padding-top: 99px;
}

/* Конец Портфолио */

/* Начало контактов */