.fotter{
    background-image: url(../img/city_dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.fotter_wrap{
    display: flex;
    justify-content: space-between;
    width: 1110px;
    padding-left: 21%;
}

.fotter_contact_us{
    padding-top: 122px;
    font-family: Merriweather, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;

    color: #FFFFFF;
}

.questions{
    width: 445px;
    padding-top: 60px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
}

.fotter_contacts_wrap{
    display: flex;
    justify-content: space-between;
    width: 468px;
    padding-top: 79px;
}

.fotter_phone_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 216px;
}

.fotter_email_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 210px;
}

.fotter_phone_img{
    width: 18px;
    height: 30px;
}

.fotter_phone_link{
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;

    color: #FFFFFF;
}

.fotter_email_img{
    width: 40px;
    height: 30px;
}

.fotter_email_link{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    
    color: #FFFFFF;
}

.fotter_pers_inf{
    padding-top: 135px;
}

.name_surname_wrap{
    display: flex;
    justify-content: space-between;
}

.form{
    border: none;
    width: 540px;
    height: auto;
    padding: 0px;
    margin: 0px;
    padding-bottom: 140px;
}

.name{
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;
}

.name_wrap{
    border-bottom: 1px solid #FFFFFF;
    width: 255px;
}

.input_name{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
    border: none;
    outline:none;
}



.surname{
    font-family: Lato,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;
}

.surname_wrap{
    border-bottom: 1px solid #FFFFFF;
    width: 255px;
}

.input_surname{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:transparent;
    border: none;
    outline:none;
}

::-webkit-input-placeholder {
    font-family: Lato,serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    
    color: #BDBDBD;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}
input[type="text"] {
    font-family: Lato,serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #BDBDBD;
}

.massage{
    padding-top: 35px;
    padding-bottom: 15px;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;
}

:focus::-webkit-textarea-placeholder {
    color: transparent;
}

::-webkit-textarea-placeholder{
    font-family: Lato,serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    
    color: #BDBDBD;
}

textarea {
    font-family: Lato,serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #BDBDBD;
    background-color:transparent;
    border: none;
    outline:none;
}

.textarea_div{
    border-bottom: 1px solid #FFFFFF;
    width: 540px;
}

.fotter_button{
    background-color: #005FA3;
    width: 270px;
    height: 60px;
}

.fotter_button_wrap{
    padding-top: 50px;
    text-align: right;
}

.fotter_button{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.rights_wrap{
    width: 1110px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 21%;
}

.rights{
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;

    color: #000000;
}

@media(max-width:1439px){
    .fotter_wrap{
        width: 100%;
        padding-left: 0px;
        flex-direction: column;
    }
    .rights_wrap{
        width: 570px;
        padding-left: 0px;
        margin: 0px auto 0px auto;
    }
    .fotter_wrap{
        width: 570px;
        margin: 0px auto 0px auto;
    }
    .form{
        width: 100%;
    }
}

@media(max-width:767px){
    .fotter{
        width: 100%;
    }
    .fotter_contact_us_wrap{
        width: 320px;
    }
    .fotter_wrap{
        width: 320px;
    }
    .fotter_contact_us{
        width: 100%;
        font-size: 32px;
        text-align: center;
        padding-top: 40px;
    }
    .questions{
        width: 80%;
        text-align: center;
        margin: 0px auto 0px auto;
        padding-top: 0px;
    }
    .fotter_contacts_wrap{
        flex-direction: column;
        align-items: center;
        padding-top: 35px;
        width: 100%;
    }
    .fotter_email_wrap{
        padding-top: 30px;
    }
    .fotter_pers_inf{
        padding-top: 50px;
        width: 320px;
    }
    .form{
        padding-bottom: 50px;
        width: 320px;
    }
    .name_surname_wrap{
        width: 320px;
        flex-direction: column;
        align-items: center;
    }
    .name_surname_wrap{
        margin: 0px;
    }
    .massage{
        width: 320px;
        padding-left: 35px;
    }
    .textarea_div{
        width: 255px;
        margin-left:35px;
    }

    .fotter_button_wrap{
        text-align: left;
        margin-left: 35px;
    }
    .massage_text{
        width: 255px;
    }

    .rights_wrap{
        width: 320px;
        flex-direction: column;
        justify-content: space-around;
    }
}