body{
    max-width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
}

.header_container{
    width: 100%;
    background-color: #F9F9F9;
}

.section_header{
    width: 58%;
    display: flex;
    justify-content: space-between;
    height: 110px;
    margin-left: 21%;
    margin-right: 21%;
}


.main_logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_logo_picture{
    width: 34px;
    height: 34px;
}
.main_logo_text{
    text-align: center;
    font-family: 'Merriweather',serif;
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    line-height: 50px;
    width: 190px;
    height: 43px;

    color: #005FA3;
}

.contact_informaition_container{
    padding-top: 22px;
    padding-left: 185px;
}

.contact_informaition_header{
    display: flex;
}

.not_working_link{
    pointer-events: none;
}

.phone_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 132px;
}

.phone_link{
    width: 107px;
    height: 18px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    
    color: #000000;
}

.phone_icon{
    width: 10px;
    height: 17px;
}

.clock_wrap{
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
}

.clock_link{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;

    color: #000000;
}

.phone_icon{
    width: 17px;
    height: 17px;
}

.e-mail_wrap{
    padding-left: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 137px;
}
.e-mail_icon{
    width: 22px;
    height: 17px;
}
.e-mail_link{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;

    color: #000000;
}

.map_wrap{
    padding-left: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 136px;
}
.map_icon{
    width: 12px;
    height: 17px;
}

.map_link{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;

    color: #000000;
}

a{
    text-decoration: none;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

ul {
    margin: 0;
    padding-left: 0; 
}
.navigaition_list{
    padding-top: 22px;
    display: flex;
    justify-content: space-between;
} 

.navigaition_list-item{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222222;
}

.transform-hamburger{
    display: none;
}

.main_logo_mobile{
    display: none;
}

/* Конец хедера

начало главного слайдера */


.slider_wrap{
    position: relative;
    width: 100%;
    height: 670px;
    overflow: hidden;

    box-sizing: border-box;

    z-index: 1;
}

.item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
}

.item-hide{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    transform: translateX(101%);

    transition: transform .6s ease-in-out 0s;
}

.bacground_picture{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main_slider_text{
    position: absolute;
    left: 21%;
    top: 25%;
    width: 589px;
    font-family: 'Merriweather',serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 66px;

    color: #FFFFFF;
    z-index: 2;
}

.main_slider_button{
    position: absolute;
    top: 55%;
    left: 21%;
    width: 270px;
    height: 60px;
    padding: 0px;
    background: #005FA3;
    border: none;
    z-index: 2;
}

.main_slider_button:hover{
    box-shadow: 0 0 10px #005FA3;
}

.main_slider_button_link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;

    color: #FFFFFF;
}

.main_slider_container{
    position: relative;
    width: 100%;
    height: 670px;
}

.slider__indicators {
    position: absolute;
    top: 82%;
    left: 21%;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.slider__indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 40px;
    text-indent: -999px;
    border-radius: 90px;
    cursor: pointer;
    background-color:#FFFFFF;;
    background-clip: padding-box;
    opacity: 0.4;
    transition: opacity .6s ease;
}

.slider__indicators li.active {
    opacity: 1;
}

.slider__control_img{
    display: block;
    width: 8px;
    height: 15px;
}

.buttons_wrap{
    position: absolute;
    display: flex;
    top: 74%;
    right: 21%;
    width: 120px;
    height: 60px;
}

.slider__control-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255, 0.2);
    z-index: 3;
}

.slider__control-right:hover{
    background-color: rgb(255, 255, 255, 0.4);
}

.slider__control-left:hover{
    background-color: rgb(255, 255, 255, 0.4);
}

.slider__control-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255, 0.2);
    z-index: 3;
}



/* конец главного слайдера  */


@media (max-width: 1439px){
    .slider_wrap{
        height: 500px;
    }
    .main_slider_container{
        height: 500px;
    }
    .section_header{
        width: 76%;
        margin-left: 8%;
        margin-right: 8%;
    }
    .contact_informaition_container {
        padding-top: 22px;
        padding-left:0px;
    }
    .main_logo_text{
        font-size: 30px;
        line-height: 46px;
    }
/* Конец Хедера    
Начало главного слайдера */
    .main_slider_text{
        font-size: 39px;
        line-height: 59px;
        left: 8%;
    }
    .main_slider_button{
        top: 58%;
        left: 8%;
        width: 236px;
        height: 52px;
    }
    .slider__indicators{
        left: 8%;
    }
    .buttons_wrap{
        right: 8%;
    }

    /* Конец главного слайдера */
    
}
@media (max-width: 1023px){


    .transform-hamburger{
        display: block;
    }
    .section_header{
        position: fixed;
        z-index: 11;
    
        left: 0;
        top: 0;
    
        width: 40%;
        min-height: 70%;
    
        margin: 0;
        padding: 30px 60px;
        list-style: none;
        box-sizing: border-box;
    
        background: #F9F9F9;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        transform: translateX(-101%);
    
        transition: transform .9s ease-in-out 0s;
    }

    .menu__wrapper--open {
        transform: translateX(0%);
    }
    
    .menu__wrapper--open .menu__item {
        transform: translateX(0);
        opacity: 1;
    }
    
    .transform-hamburger {
        position: relative;
        z-index: 15;
    
        width: 28px;
    
        color: #005FA3;
    
        stroke: currentColor;
        stroke-width: 1;
    
        cursor: pointer;
    
        transition: color .8s linear 0s;
    }
    
    .transform-hamburger__line-middle {
        opacity: 1;
    
        transition: opacity .2s linear 0s;
    }
    
    .transform-hamburger__line-top {
        transform-origin: 50% 25%;
        transform: translateY(0%) rotate(0deg) scaleX(1);
    
        transition: transform .4s linear .2s;
    }
    
    .transform-hamburger__line-bottom {
        transform-origin: 50% 75%;
        transform: translateY(0%) rotate(0deg) scaleX(1);
    
        transition: transform .4s linear .6s;
    }
    
    .transform-hamburger--transformed {
        color: #005FA3;
    }
    
    .transform-hamburger--transformed .transform-hamburger__line-middle {
        opacity: 0;
    }
    
    .transform-hamburger--transformed .transform-hamburger__line-top {
        transform: translateY(25%) rotate(45deg) scaleX(1.41);
    }
    
    .transform-hamburger--transformed .transform-hamburger__line-bottom {
        transform: translateY(-25%) rotate(-45deg) scaleX(1.41);
    }

    .header_container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
    }
    .transform-hamburger{
        position: absolute;
        left: 25px;
        right: 15px;
    }
    .main_logo_mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main_logo{
        display: none;
    }

    .contact_informaition_header{
        display: none;
    }
    .navigaition_list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
    .contact_informaition_container{
        width: 100%;
        height: 100%;
    }
    .nav_container{
        width: 100%;
        height: 100%;
    }
/* Конец Хедера    
Начало главного слайдера */

    .main_slider_text{
        font-size: 33px;
        line-height: 47px;
        top:18%;
    }
    .main_slider_button{
        top: 45%;
        width: 187px;
        height: 53px;
    }
    .main_slider_button_link{
        font-size: 16px;
    }
    .slider__indicators li{
        width: 8px;
        height: 8px;
        margin-right: 20px;
    }
    .slider__control-left{
        width: 40px;
        height: 40px;
    }
    .slider__control-right{
        width: 40px;
        height: 40px;
    }
    .buttons_wrap{
        width: 80px;
        height: 40px;
    }
}

@media (max-width: 767px){
    .main_logo_mobile{
        padding-left: 30px;
        width: 160px;
    }
    .main_logo_picture{
        width: 27px;
        height: 27px;
    }
    .main_logo_text{
        font-size: 24px;
    }
    .section_header{
        padding: 0px;
        width: 1000%;
        min-height: 70%;
    }
    .navigaition_list{
        height: 90%;
    }
    .contact_informaition_container{
        padding-top: 56px;
        padding-left: 53px;
    }
    /* Конец Хедера    
Начало главного слайдера */
    .slider__indicators{
        display: none;
    }
    .main_slider_container{
        height: 350px;
    }
    .slider_wrap{
        height: 350px;
    }
    .main_slider_text{
        font-size: 22px;
        top: 18%;
        width: 87%;
    }
    .main_slider_button{
        top: 68%;
        width: 129px;
        height: 39px;
    }
    .main_slider_button_link{
        font-size: 12px;
    }
    .buttons_wrap{
        top: 68%;
        width: 80px;
        height: 40px;
    }

}
