.specialization_container{
    width: 100%;
    height: auto;
    background-color: #EBEBEB;;
}

.services{
    padding-left: 21%;
    padding-top: 148px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;

    color: #BDBDBD;
}

.our_specialization{
    padding-left: 21%;
    padding-top: 40px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;

    color: #333333;
}

.accounting_wrap{
    display: flex;
    flex-wrap:wrap;
    width: 1110px;
    padding-left: 21%;
    padding-top: 102px;
    padding-bottom: 132px;
    
}
.accounting_item{
    position: relative;
    width: 350px;
    height: 360px;
    background-color: rgba(0, 95, 163);
}

.accounting_text{
    position: absolute;
    left: 45px;
    top: 261px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

.accounting_item:nth-child(4){
    margin-top: 30px;
}

.accounting_item:nth-child(5){
    margin-top: 30px;
    margin-left: 30px;
}

.accounting_item:nth-child(6){
    margin-top: 30px;
    margin-left: 30px;
}


.accounting_item:nth-child(2){
    margin-left: 30px;
}

.accounting_item:nth-child(3){
    margin-left: 30px;
}

.accounting_img:hover{
    opacity: 0.65;
    cursor: pointer;
    color: rgba(0, 95, 163);
}


@media (max-width: 1439px){
    .accounting_wrap{
        padding-left: 8%;
    }
    .services{
        padding-left: 8%;
    }
    .our_specialization{
        padding-left: 8%;
    }
}


@media (max-width: 1023px){

}

@media (max-width: 767px){

}