.our_clients_main_container{
    width: 100%;
    height: auto;
    background: #EBEBEB;
}

.our_clients{
    padding-top: 140px;
    font-family: Lato,  sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;

    color: #BDBDBD;
}

.our_clients_wrap{
    width: 1110px;
    padding-left: 21%;
}

.ww_company{
    padding-top: 40px;
    font-family: Merriweather, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;

    color: #333333;
}

.slider_ww_wrap{
    position: relative;
    width: 1110px;
    height: 130px;
    overflow: hidden;
    margin-top: 80px;
}

.ww_item{
    position: absolute;
    top: 0;
    left: 0;
    width: 1110px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    z-index: 4;
}

.ww_item_hide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    transform: translateX(101%);

    transition: transform .6s ease-in-out 0s;
}

.slider_ww_dot_wrap{
    display: flex;
    justify-content: space-between;
    flex-direction:row-reverse;
    width: 1110px;
}

.slider_indicators_ww{
    display: flex;
    padding-left: 0px;
    margin: 0px;
}

.slider_indicators_ww li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 40px;
    text-indent: -999px;
    border-radius: 90px;
    cursor: pointer;
    background-color:#005FA3;
    background-clip: padding-box;
    opacity: 0.4;
    transition: opacity .6s ease;
}

.slider_indicators_ww li.active_ww {
    opacity: 1;
}

.slider_ww_dot_wrap{
    padding-top: 50px;
    padding-bottom: 100px;
}

.buttons_ww_wrap{
    display: flex;
    align-items: center;
    width: 120px;
    height: 60px;
}

.slider__control-right-ww{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgb(0, 95, 163, 0.2);
    z-index: 3;
}

.slider__control-right-ww:hover{
    background-color: rgb(0, 95, 163, 1);
}

.slider__control-left-ww{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgb(0, 95, 163, 0.2);
    z-index: 3;
}

.slider__control-left-ww:hover{
    background-color: rgb(0, 95, 163, 1);
}

.slider_indicators_ww{
    padding-top: 50px;
}

@media (max-width: 1439px){
    .our_clients_wrap{
        width: 570px;
        padding: 0px;
        margin: 0px auto 0px auto;
    }
    .our_clients{
        width: 100%;
        text-align: center;
    }
    .ww_company{
        text-align: center;
    }
    .slider_ww_wrap{
        margin-top: 50px;
        width: 100%;
        height: 500px;
    }
    .ww_item{
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .slider_ww_dot_wrap{
        width: 100%;

    }
    .slider_indicators_ww{
        padding-top: 33px;
    }
}

@media (max-width: 1023px){
    .our_clients{
        padding-top: 60px;
    }
}

@media (max-width: 767px){
    .our_clients_wrap{
        width: 100%;
    }
    .our_clients{
        font-size: 20px;
    }
    .ww_company{
        font-size: 26px;
    }
    .slider_ww_wrap{
        height: 460px;
    }
    .slider_indicators_ww{
        display: none;
    }
    .slider_ww_dot_wrap{
        justify-content: center;
    }
}